<div class="uk-background-muted">
  <div class="uk-container  ">
    <div class="uk-child-width-expand@s uk-text-left uk-grid-match uk-margin-large-top uk-margin-large-bottom " uk-grid>
      <div>
        <div style="border-radius: 30px; 
              " class="uk-text-left uk-card uk-card-default uk-card-body">
          <span style="color: rgb(0, 44, 110);" uk-icon="icon: arrow-up-right; ratio: 2"></span>

          <p style="font-size:2rem; font-weight: 800; color: rgb(0, 44, 110);">Lance</p>
          <p>Dê o primeiro passo certo: lance o seu produto ou serviço com a agilidade, segurança e performance da
            Clouds2Africa, construindo já sobre uma infraestrutura preparada para crescer consigo.</p>
        </div>

      </div>
      <div>
        <div style="border-radius: 30px; 
              " class="uk-card uk-card-default uk-card-body">

          <span style="color: rgb(0, 44, 110);" uk-icon="icon: expand; ratio: 2"></span>
          <p style="font-size:2rem; font-weight: 800; color: rgb(0, 44, 110);">Escale</p>
          <p>
            Transforme a procura crescente em oportunidade: escale as suas operações de forma inteligente e
            sustentável, utilizando soluções cloud robustas que acompanham o ritmo da sua ambição.
          </p>
        </div>
      </div>


      <div>
        <div style="border-radius: 30px; 
              " class="uk-card uk-card-default uk-card-body">

          <span style="color: rgb(0, 44, 110);" uk-icon="icon: forward; ratio: 2"></span>
          <p style="font-size:2rem; font-weight: 800; color: rgb(0, 44, 110);">Migre</p>
          <p>
            Liberte-se das limitações da infraestrutura local: migre para a nuvem com apoio especializado, reduza
            custos, aumente eficiência e prepare o seu negócio para competir em qualquer mercado.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="uk-container">
  <div id="visao-geral"
    class="uk-margin-medium-top uk-child-width-1-2@m uk-grid-small uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left">
    <!-- Lado esquerdo -->
    <div class="uk-container uk-width-1-2@m uk-margin-medium-top uk-margin-medium-bottom uk-padding">
      <h2 style="font-size: 3rem; font-weight: 700; color: rgb(18, 72, 130); " class="texto-div uk-text-left">
        O que é o AceleraCloud? </h2>
      <p style="font-size: 1.3rem; color: rgb(18, 72, 130);" class="texto-div uk-text-left">
        O Acelera Cloud é um programa de aceleração de negócios digitais da Angola Cables que concede recursos
        necessários para <b>criar</b>, <b> lançar</b> e <b>escalar</b> na <b>Clouds2Africa</b>.
        <br> O programa oferece uma concessão de até <b>US$ 12.000</b> em créditos de nuvem, ajuda e suporte de
        arquitetos do Clouds2Africa e especialistas em desenvolvimento de negócios da Angola Cables, suporte e acesso a
        outros produtos da Angola Cables em condições especiais.
      </p>
      <div class="uk-container uk-margin-medium-top">
        <p class="uk-text-left" style="color: rgb(18, 72, 130);">
          {{ 'descarregar_ficha' | translate }}
          <span class="icone uk-margin-small-right" uk-icon="icon: file-pdf; ratio:2"
            style="color: rgb(18, 72, 130);"></span>
          PT | EN
        </p>
      </div>
    </div>
    <!--Lado direito-->
    <div class="uk-width-1-2@m uk-margin-small-top uk-margin-medium-bottom uk-flex uk-flex-center uk-flex-middle">
      <div class="uk-text-center">
        <div class="uk-margin-small-bottom">
          <img class="uk-text-center uk-margin-small-bottom" style="height: 80px; width: auto;"
            src="img/logo-acsa-2.png">
        </div>
        <video controls="true" loop muted id="promoVideo"
          style="border-radius: 40px; box-shadow: rgba(0, 44, 110, 0.279) 0px 0px 10px 10px ; border: #000 2px 0px solid;"
          class="promo-video">
          <source src="https://marketing.host2africa.com/files/AC-Angolaoutlook-EN-2025%202-new.mp4" type="video/mp4" />
          Seu navegador não suporta o vídeo em falta.
        </video>
      </div>
    </div>
  </div>

</div>


<div class="uk-background-muted">



  <div class="uk-container  ">

    <div class="uk-margin-large-top">

      <h2 style="font-weight: 700; font-size: 3rem; color: rgb(18, 72, 130); " class="texto-div uk-text-center">
        Porquê participar? </h2>

    </div>


    <div class="uk-child-width-expand@s uk-text-left uk-grid-match uk-margin-large-top uk-margin-large-bottom " uk-grid>
      <div>
        <div style="border-radius: 30px; box-shadow: rgb(225, 225, 255); background-color: rgb(0, 44, 110) ; "
          class="uk-card beneficios uk-card-default uk-card-body">
          <span style="color: #fff;" uk-icon="icon:  database
; ratio: 3"></span>

          <p style="font-size:1.2rem; font-weight: 600; color: #fff; ">Receba de 300$ até $1.000 em créditos
            gastar
            em compute, storage e rede.</p>


        </div>
      </div>
      <div>
        <div style="border-radius: 30px;background-color: rgb(0, 44, 110) "
          class="uk-card beneficios uk-card-default uk-card-body">
          <span style="color: rgb(225, 225, 225);" uk-icon="icon:  users
; ratio: 3"></span>
          <p style="font-size:1.2rem; font-weight: 600; color: #fff ; ">Mentoria com
            especialistas em tech, negócios e compliance da Angola Cables</p>
        </div>
      </div>
      <div>
        <div style="border-radius: 30px; background-color: rgb(0, 44, 110) "
          class="uk-card beneficios uk-card-default uk-card-body">
          <span style="color: rgb(225, 225, 225);" uk-icon="icon:  cog
; ratio: 3"></span>
          <p style="font-size:1.2rem; font-weight: 600; color: #fff; ">Suporte técnico diferenciado com
            monitoramento proativo

          </p>
        </div>
      </div>

      <div>
        <div style="border-radius: 30px; background-color: rgb(0, 44, 110) "
          class="uk-card beneficios uk-card-default uk-card-body">
          <span style="color: #fff;" uk-icon="icon:  cart; ratio: 3"></span>
          <p style="font-size:1.2rem; font-weight: 600; color: #fff; ">Acesso ao programa de parceiros da
            Angola Cables e ao Marketplace Clouds2Africa

          </p>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="">


  <div class="uk-container ">
    <div class="uk-margin-medium-top uk-child-width-1-2@m uk-grid-small uk-child-width-1-1@s  uk-grid uk-text-left">
      <!-- Lado esquerdo-->

      <!--Lado direito-->
      <div class="uk-width-1-2@m uk-margin-medium-top uk-margin-medium-bottom">
        <div class="uk-text-center">
          <img style="border-radius: 40px; box-shadow: rgb(237, 237, 237) 0px 0px 10px; height: 600px; width: auto;"
            src="img/conectar-cloud.png" />
        </div>
      </div>

      <div class="uk-container uk-width-1-2@m uk-margin-small-top uk-margin-small-bottom">
        <p class="uk-margin-medium-left" style="color: rgb(18, 72, 130); font-size: 3rem; font-weight: 700">
          Quem pode participar?
        </p>

        <div class="uk-margin-medium-left">
          <ul uk-accordion="collapsible: false" class="glass-accordion">
            <li class="uk-open">
              <a class="uk-accordion-title" href>
                Startups com MVP ou produto em operação
              </a>
              <div class="uk-accordion-content">
                <p>Negócios inovadores que já validaram as suas ideias no mercado e precisam agora de infraestrutura
                  escalável, estável e segura para acelerar o lançamento, garantir disponibilidade e conquistar novos
                  clientes. O programa oferece créditos cloud, mentoria técnica e suporte estratégico para transformar
                  MVPs em produtos robustos e prontos para o crescimento.</p>
              </div>
            </li>
            <li class="">
              <a class="uk-accordion-title" href>Negócios com necessidade de expansão
              </a>
              <div class="uk-accordion-content">
                <p>Organizações com procura comercial crescente, que necessitam de soluções digitais capazes de
                  acompanhar a evolução da sua base de clientes e operações. Ao aderirem ao programa, estas empresas
                  encontram recursos para escalar com eficiência, reduzir custos operacionais e explorar novas
                  oportunidades em mercados locais e internacionais.
                </p>
              </div>
            </li>
            <li class="">
              <a class="uk-accordion-title" href> Instituições públicas e privadas em migração para a nuvem
              </a>
              <div class="uk-accordion-content">
                <p>Entidades que desejam libertar-se das limitações da infraestrutura tradicional (on-premise),
                  beneficiando-se da flexibilidade, resiliência e segurança da Clouds2Africa. O ACeleraCloud apoia todo
                  o processo de transição, desde a análise inicial até à implementação, assegurando continuidade
                  operacional, conformidade regulatória e soberania de dados.</p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>



</div>

<div class=" uk-background-muted">

  <div class="uk-container">

    <div class="uk-margin-large-top ">
      <h2 style="font-weight: bold; color: rgb(18, 72, 130);  font-size: 3rem; font-weight: 700"
        class="texto-div uk-text-center">
        Como participar? </h2>

    </div>

    <div class="uk-margin-large-top uk-margin-large-bottom">

      <ul class="uk-subnav uk-subnav-pill" uk-switcher>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="arrow-right"></span>
            Candidatura </a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="arrow-right"></span> Entrevista</a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="arrow-right"></span>Aprovação e Activação</a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="arrow-right"></span> Suporte e Mentoria</a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="arrow-right"></span> Demo Day e Mentoria</a></li>


      </ul>
      <div class="uk-switcher uk-margin">

        <div>
          <p class="uk-padding bg-como"> Esta é a porta de entrada para o programa. Aqui o candidato apresenta a sua
            inscrição, partilha informações
            essenciais sobre o seu perfil e a sua ideia ou projeto.<br> É o momento de demonstrar motivação, clareza de
            objetivos e disposição para crescer dentro de uma comunidade que valoriza inovação e dedicação.
        </div>
        <div class="uk-padding bg-como"> Após a candidatura, os candidatos selecionados participam de uma entrevista
          individual. Esta etapa serve
          para conhecer melhor cada pessoa, compreender as suas ambições, avaliar competências e verificar o alinhamento
          com os valores e objetivos do programa. É uma oportunidade de mostrar autenticidade e fortalecer a sua
          candidatura. </div>
        <div class="uk-padding bg-como">Os candidatos aprovados recebem a confirmação oficial da sua entrada no
          programa. A ativação marca o início
          efetivo da participação, com acesso às ferramentas, conteúdos e recursos necessários para dar os primeiros
          passos rumo ao desenvolvimento do projeto.<br> É o momento em que a ideia começa a transformar-se em ação.
        </div>
        <div class="uk-padding bg-como">Ao longo de toda a jornada, os participantes têm acesso a suporte especializado
          e mentoria contínua. Aqui,
          cada desafio encontra orientação e cada dúvida encontra resposta. <br> Acompanhamento próximo, feedback
          construtivo
          e partilha de experiências garantem que o participante nunca caminhe sozinho, mas sempre com apoio para
          avançar.</div>
        <div class="uk-padding bg-como">Esta é a etapa culminante, onde os participantes apresentam os resultados do seu
          trabalho perante uma
          audiência qualificada. O Demo Day representa não apenas uma vitrine para os projetos, mas também uma
          oportunidade de receber aconselhamento estratégico, abrir portas para parcerias e conquistar visibilidade. É o
          momento de celebrar conquistas e preparar os próximos passos com ainda mais confiança.</div>

      </div>


    </div>

  </div>


</div>


<div class="uk-container">


  <div class="uk-margin-large-top  ">
    <h2 style="font-weight: bold; color: rgb(18, 72, 130);  font-size: 3rem; font-weight: 700"
      class="texto-div uk-text-center">
      Sectores atendidos </h2>

    <p class="uk-text-center" style="font-size: 1.5rem;color: rgb(18, 72, 130);">Execute, opere e escale as soluções necessárias, com redução de custos, maior
      <b>segurança</b> e <b> soberania de dados </b> em <b>núvem certificada</b></p>


  </div>


  <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match uk-margin-large-bottom" uk-grid>
    <div>
      <div style="border-radius: 0px 20px 0px 20px" class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Banca e Seguros</h3>
        <p style="font-size: 0.8rem;">Hospede sistemas financeiros críticos com segurança e compliance.</p>

        <p style="font-size: 0.8rem;"> Escale plataformas de pagamento digital e serviços fintech sem investimento
          inicial elevado.</p>

      </div>
    </div>
    <div>
      <div style="border-radius: 0px 20px 0px 20px" class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Petróleo & Gás</h3>
        <p style="font-size: 0.8rem;">Processamento de dados sísmicos e geofísicos com grande capacidade de
          processamento e armazenamento.</p>

        <p style="font-size: 0.8rem;">Monitorização em tempo real de plataformas e integração com SCADA/OT, com
          conectividade resistente e recuperação de falhas.</p>

      </div>
    </div>
    <div>
      <div style="border-radius: 0px 20px 0px 20px" class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Energia e Indústria</h3>
        <p style="font-size: 0.8rem;">Monitorização de ativos e sensores com IoT em nuvem.</p>

        <p style="font-size: 0.8rem;"> Operações críticas apoiadas por infraestrutura resiliente e de baixa latência.
        </p>
      </div>
    </div>
    <div>
      <div style="border-radius: 0px 20px 0px 20px" class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Saúde</h3>
        <p style="font-size: 0.8rem;">Hospedagem de sistemas de gestão hospitalar e telemedicina com alta
          disponibilidade.</p>
        <p style="font-size: 0.8rem;">Armazenamento seguro de dados clínicos e apoio a projetos de pesquisa.</p>

      </div>
    </div>
    <div>
      <div style="border-radius: 0px 20px 0px 20px" class=" uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Educação</h3>
        <p style="font-size: 0.8rem;">Escalonamento de plataformas de ensino online e ambientes colaborativos de
          investigação.</p>
        <p style="font-size: 0.8rem;">Armazenamento seguro de dados clínicos e apoio a projetos de pesquisa.</p>

      </div>
    </div>

     <div>
      <div style="border-radius: 0px 20px 0px 20px" class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Retalho e Logística</h3>
        <p style="font-size: 0.8rem;">Gestão de inventário, POS na nuvem e rastreamento logístico com integração regional.</p>

      </div>
    </div>

     <div>
      <div style="border-radius: 0px 20px 0px 20px" class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Telecom & Networking</h3>
        <p style="font-size: 0.8rem;">Conectividade Angola ↔ África ↔ Ámericas ↔ Europa com baixa latência.</p>
        <p style="font-size: 0.8rem;">Soluções SD-WAN, VPNs seguras e integração multicloud para operações distribuídas.</p>

      </div>
    </div>
     <div>
      <div style="border-radius: 0px 20px 0px 20px" class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Educação</h3>
        <p style="font-size: 0.8rem;">Distribuição de streaming (vídeo/áudio) com baixa latência e grande capacidade de armazenamento.</p>
        <p style="font-size: 0.8rem;">Ambientes para processamento (encoding) e distribuição de conteúdo em larga escala.</p>

      </div>
    </div>
  </div>




  <div class="uk-margin-large-top  ">

        <p class="uk-text-center" style="font-size: 1.5rem;color: rgb(18, 72, 130);">Descubra um novo ecossistema de oportunidade para o seu portfolio</p>

    <h2 style="font-weight: bold; color: rgb(18, 72, 130);  font-size: 3rem; font-weight: 700"
      class="texto-div uk-text-center">
      Nossos Parceiros </h2>


<app-parceiros></app-parceiros>


  </div>



</div>

<div class="fundo-div">
  <div class="uk-container">
    <div class="uk-container uk-margin-medium-top uk-text-center uk-margin-large-left uk-margin-large-right">
      <div id="visao-geral"
        class="uk-margin-medium-top uk-child-width-1-2@m uk-grid-small uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left">
        <!-- Lado esquerdo -->
        <div class="uk-container uk-width-1-2@m uk-margin-medium-top uk-margin-medium-bottom">
          <h2 style="font-weight: bold" class="texto-div uk-text-left">
            {{ 'porque_tornar_se_parceiro' | translate }}
          </h2>
          <p style="font-size: 22px" class="texto-div uk-text-left">
            {{ 'programa_parceiros' | translate }}
          </p>
        </div>
        <!--Lado direito-->
        <div class="uk-width-1-2@m uk-margin-large-top uk-margin-medium-bottom uk-flex uk-flex-center uk-flex-middle">
          <div class="uk-text-center">
            <div class="uk-margin-small-bottom">
              <img class="uk-text-center uk-margin-small-bottom" style="height: 80px; width: auto;"
                src="img/logo-acsa-2.png">
            </div>
            <video style="box-shadow: rgb(0, 44, 110) 0px 0px 10px 10px; border: #000 2px 0px solid;" controls="true"
              autoplay loop muted id="promoVideo" class="promo-video uk-border-rounded">
              <source src="https://marketing.host2africa.com/files/AC-Angolaoutlook-EN-2025%202-new#.mp4"
                type="video/mp4" />
              Seu navegador não suporta o vídeo em falta.
            </video>
          </div>
        </div>
      </div>

      <div class="uk-child-width-1-2@m uk-grid-small uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left">
        <!-- Lado Direito-->

        <!-- Lado esquerdo-->
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
          uk-slideshow="autoplay : true; animation: push; autoplay-interval: 2000">
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
            uk-slideshow-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
            uk-slideshow-item="next"></a>
        </div>
      </div>

      <div class="uk-child-width-1-2@m uk-grid-small uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left">
        <!-- Lado esquerdo-->
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
          <div>
            <h3 style="font-weight: bold" class="uk-text-center texto-div">
              {{ 'confiança_transparência_competitividade' | translate }}
            </h3>
          </div>

          <!-- Slider Container -->
          <div class="uk-slider-container uk-margin-medium-right">
            <ul class="uk-slider-items uk-child-width-1-3@s uk-grid uk-container uk-margin-small-right">
              <!-- Slide 1 -->
              <li>
                <div class="uk-text-center">
                  <img style="height: 100px" src="img/world-interconected-angola-cables.png"
                    alt="{{ 'operadora_conectada_mundo' | translate }}" />
                  <p class="texto-div uk-text-center">
                    {{ 'operadora_conectada_mundo' | translate }}
                  </p>
                </div>
              </li>
              <!-- Slide 2 -->
              <li>
                <div class="uk-text-center">
                  <img style="height: 100px" src="img/first-interconected-angola-cables.png"
                    alt="{{ 'operadora_conectada_africa' | translate }}" />
                  <p class="texto-div">
                    {{ 'operadora_conectada_africa' | translate }}
                  </p>
                </div>
              </li>
              <!-- Slide 3 -->
              <li>
                <div class="uk-text-center">
                  <img style="height: 100px" src="img/selocplp-pt-2024.png"
                    alt="{{ 'operadora_conectada_cplp' | translate }}" />
                  <p class="texto-div">
                    {{ 'operadora_conectada_cplp' | translate }}
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!--Lado direito-->
        <div class="uk-width-1-2@m">
          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
            <div class="uk-margin-medium-bottom">
              <h3 style="font-weight: bold" class="uk-text-center texto-div">
                {{ 'nossas_certificacoes' | translate }}
              </h3>
            </div>

            <!-- Slider Container -->
            <div class="uk-slider-container">
              <ul class="uk-slider-items uk-child-width-1-3@s uk-grid uk-container">
                <!-- Slide 1 -->
                <li>
                  <div class="uk-text-center">
                    <img style="height: 100px" src="img/iso/iso1.png" alt="{{ 'iso_9001' | translate }}" />
                    <p class="texto-div uk-text-center">
                      {{ 'iso_9001' | translate }}
                    </p>
                  </div>
                </li>
                <!-- Slide 2 -->
                <li>
                  <div class="uk-text-center">
                    <img style="height: 100px" src="img/iso/iso2.png" alt="{{ 'iso_27001' | translate }}" />
                    <p class="texto-div">
                      {{ 'iso_27001' | translate }}
                    </p>
                  </div>
                </li>
                <!-- Slide 3 -->
                <li>
                  <div class="uk-text-center">
                    <img style="height: 100px" src="img/iso/iso3.png" alt="{{ 'iso_20000' | translate }}" />
                    <p class="texto-div">
                      {{ 'iso_20000' | translate }}
                    </p>
                  </div>
                </li>
                <li>
                  <div class="uk-text-center">
                    <img style="height: 100px" src="img/iso/iso4.png" alt="{{ 'iso_27018' | translate }}" />
                    <p class="texto-div">
                      {{ 'iso_27018' | translate }}
                    </p>
                  </div>
                </li>
                <li>
                  <div class="uk-text-center">
                    <img style="height: 100px" src="img/iso/iso5.png" alt="{{ 'iso_27701' | translate }}" />
                    <p class="texto-div">
                      {{ 'iso_27701' | translate }}
                    </p>
                  </div>
                </li>
                <li>
                  <div class="uk-text-center">
                    <img style="height: 100px" src="img/iso/iso6.png" alt="{{ 'soc_type_ii' | translate }}" />
                    <p class="texto-div">
                      {{ 'soc_type_ii' | translate }}
                    </p>
                  </div>
                </li>
                <li>
                  <div class="uk-text-center">
                    <img style="height: 100px" src="img/iso/iso7.png" alt="{{ '37001' | translate }}" />
                    <p class="texto-div">
                      {{ '37001' | translate }}
                    </p>
                  </div>
                </li>
              </ul>
            </div>

            <!-- Navigation Arrows -->
            <div class="uk-visible@s uk-margin-large-left">
              <a style="font-weight: bold" class=" uk-position-center-left-out uk-position-small" href
                uk-slidenav-previous uk-slider-item="previous"></a>
              <a style="font-weight: bold;" class="uk-position-center-right-out uk-position-small" href uk-slidenav-next
                uk-slider-item="next"></a>
            </div>
          </div>

        </div>



      </div>
    </div>
  </div>
</div>