<div class="uk-background-muted">
    <div class="uk-container">
        <div class="uk-margin-large-top uk-margin-bottom">
            <h2 class="beneficios-titulo uk-text-center">
                Porquê participar?
            </h2>
        </div>

        <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@l uk-text-center uk-grid-match uk-margin-large-top uk-margin-large-bottom" uk-grid>
            <!-- Benefit 1 -->
            <div>
                <div class="uk-card beneficios-card uk-card-body">
                    <span class="beneficios-icon" uk-icon="icon: cloud-upload; ratio: 3"></span>
                    <p class="beneficios-texto">
                        Créditos gratuitos para gastar em compute, storage e rede.
                    </p>
                </div>
            </div>
            
            <!-- Benefit 2 -->
            <div>
                <div class="uk-card beneficios-card uk-card-body">
                    <span class="beneficios-icon" uk-icon="icon: users; ratio: 3"></span>
                    <p class="beneficios-texto">
                        Mentoria com especialistas em tech, negócio e compliance da Angola Cables
                    </p>
                </div>
            </div>
            
            <!-- Benefit 3 -->
            <div>
                <div class="uk-card beneficios-card uk-card-body">
                    <span class="beneficios-icon" uk-icon="icon: cog; ratio: 3"></span>
                    <p class="beneficios-texto">
                        Suporte técnico diferenciado com monitoramento proativo
                    </p>
                </div>
            </div>
            
            <!-- Benefit 4 -->
            <div>
                <div class="uk-card beneficios-card uk-card-body">
                    <span class="beneficios-icon" uk-icon="icon: cart; ratio: 3"></span>
                    <p class="beneficios-texto">
                        Acesso ao programa de parceiros da Angola Cables (Revenda e Referral)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>