<div id="inicio" class="uk-position-relative uk-visible-toggle uk-background-muted slider" tabindex="-1"
    uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 4000;">

    <div class="uk-slideshow-items">
        <!-- Slide 1 -->
        <div class="uk-padding uk-container slide-content">
            <img style="filter: brightness(50%);" class="uk-position-cover uk-animation-reverse"
                uk-scrollspy="cls: uk-animation-kenburns; repeat: true" src="https://datacom.com/content/dam/images/admin/insights/cloud/cloud-and-insights-report/2022/CloudInfrastructureReport_HeroCoverImage_1920x1080px.gif" alt="Referral Program"
                uk-cover>

            <div class="uk-container uk-position-center uk-text-left uk-child-width-expand@s" uk-grid>
                <div class="uk-margin-medium-bottom ">
                    <div class="uk-card uk-card-body">
                        <p style="color: #ffffffd8;font-size: 2rem; " class=" hero-subtitle ">
                            ACelera Cloud
                        </p>
                        <h1 class="hero-title" style=" font-weight: 700; font-size:3rem; color: #fff ;">
                            Até $12.000 em serviços de Cloud <br> para acelerar e escalar seu negócio
                        </h1>

                        <div class="uk-text-left uk-margin-top uk-flex uk-flex-left uk-flex-middle uk-gap">
                            <!-- 
                            <a routerLink="/">
                                <button class="uk-button hero-btn uk-border-pill"></button>
                            </a> -->
                            <a routerLink="/">
                                <button class="uk-button hero-btn uk-border-pill">Candidatar-se</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Navigation -->
    <div class="uk-light">
        <a style="color:black" class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
            uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a style="color:black" class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
            uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
</div>