
.uk-button-primary {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
    background: linear-gradient(125deg, rgb(0, 44, 110), rgba(0, 97, 187, 1), rgb(0, 63, 122)) !important;
    color: #ffffff; /* Ensure text is visible on the gradient */
    border: none; /* Remove any default border */
    padding: 10px 20px; /* Add padding for better appearance */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
}



.uk-button-primary:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4); /* Stronger shadow on hover */
    color: #e6f7ff; /* Slightly lighter text color on hover */
    cursor: pointer !important;

}

.uk-gap > * + * {
  margin-left: 16px; /* adjust gap */
}


.uk-button {
    z-index: 2000; /* Ensure the button is on top */
    position: relative; /* Establish stacking context */
}

.teste{
    background-color: #000;
}



.hero-btn {
    background: linear-gradient(135deg, rgb(255, 255, 255), rgb(228, 228, 228));
    color: rgb(0, 44, 110) !important;
    font-weight: 700;
    padding: 12px 35px;
    box-shadow: 0 3px 10px rgba(227, 238, 255, 0.25);
    transition: all 0.3s ease;
}

.hero-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(121, 147, 185) ;
}



