<div id="inicio" class="uk-position-relative uk-visible-toggle uk-background-muted slider" tabindex="-1"
    uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 4000;">

    <div class="uk-slideshow-items">
        <!-- Slide 1 -->
        <div class="uk-padding-large uk-container slide-content">
            <img style="filter: brightness(80%);" class="uk-position-cover uk-animation-reverse"
                uk-scrollspy="cls: uk-animation-kenburns; repeat: true" src="https://datacom.com/content/dam/images/admin/insights/cloud/cloud-and-insights-report/2022/CloudInfrastructureReport_HeroCoverImage_1920x1080px.gif" alt="Referral Program"
                uk-cover>

            <div class="uk-container uk-position-center uk-text-left uk-child-width-expand@s" uk-grid>
                <div class="uk-margin-medium-bottom uk-margin-large-left ">
                    <div class="uk-card uk-card-body uk-padding ">
                   
                        <h1 class="hero-title" >
                            Ganhe até $1.000 em serviços de Cloud <br> para acelerar e escalar seu negócio
                        </h1>
                        <p class="hero-subtitle  " >Os créditos também podem ser usados para migrar infraestruturas locais (on-premise) para a nuvem sem correr riscos de alto investimento inicial. </p>
                        <p class="hero-subtitle" > Oferecemos suporte à migração segura para a nuvem </p>
                        <div class="uk-text-left uk-margin-top uk-flex uk-flex-left uk-flex-middle uk-gap">
                            <!-- 
                            <a routerLink="/">
                                <button class="uk-button hero-btn uk-border-pill"></button>
                            </a> -->
                            <a routerLink="/">
                                <button class="uk-button hero-btn uk-border-pill">Candidatar-se</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Navigation -->
    <div class="uk-light">
        <a style="color:black" class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
            uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a style="color:black" class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
            uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
</div>