<footer class="site-footer">
    <div class="container">
        <div class="footer-content">

            <!-- First Column: Address and Google Maps -->

            <!-- Second Column: Links and Contact Info -->
            <div class="footer-column">

                <p><b> {{ 'links_uteis' | translate }}</b> </p>
                <ul class="footer-links">
                    <li><a href="#"> {{'ficha_programa' | translate}} </a></li>
                  
                    <li><a href="https://aceleranet.ao/">AceleraNet</a></li>
                    <li><a href="https://angolacables.co.ao/">Angola Cables SA</a></li>

                </ul>
            </div>


            <!-- Third Column: Social Media Links and Contact Info -->
            <div class="footer-column">
                <p><b> {{ 'contacto' | translate }} </b></p>
                <p> <a class="link" href="mailto:geral@fluxodigital.com">geral&#64;aceleracloud.com</a></p>
                <p> Angola: <br> +244 923 166 813 <br> +244 227 360 006 </p>


            </div>


            <div class="footer-column">
                <img src="img/logo-acsa-2.png">

            </div>




        </div>
    </div>


</footer>
<footer>
    <div class="txt-footer uk-text-center uk-margin-small-top uk-margin-small-bottom">
        &copy; {{ 'copyright' | translate }}
    </div>
</footer>