<div class="uk-position-relative">
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>

                <!-- LOGO -->
                <div class="uk-navbar-left">
                    <a href="#inicio" uk-scroll="offset: 100" class="texto">
                        <img class="uk-border-rounded" style="height: auto; width: 180px;" src="/img/ac-partner-logo.png">
                    </a>
                </div>

                <!-- MENU DESKTOP -->
                <div class="uk-navbar-center uk-visible@m">
                    <ul class="uk-navbar-nav uk-text-left">
                        <li><a routerLink="/oque">O QUE É?</a></li>
                        <li><a routerLink="/porque">PORQUÊ PARTICIPAR?</a></li>
                        <li><a routerLink="/como">COMO PARTICIPAR?</a></li>
                        <li><a routerLink="/beneficios">BENEFÍCIOS</a></li>
                        <li><a routerLink="/sectores">SECTORES</a></li>
                    </ul>
                </div>

                <!-- BOTÃO CONTACTO -->
                <div class="uk-navbar-right uk-visible@m">
                    <ul class="uk-navbar-nav">
                       <!--  <li>
                            <a routerLink="/contact">
                                <button style="background-color: transparent; color: #fff; border: 0.5px solid white;" 
                                    class="uk-button botao-contacto">
                                    Contact Us
                                </button>
                            </a>
                        </li>

                        -->
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <!-- MENU MOBILE -->
    <div class="uk-hidden@m">
        <nav class="uk-navbar-container">
            <div class="uk-container">
                <div uk-navbar>
                    <div class="uk-navbar-left">
                        <a href="#inicio" uk-scroll="offset: 100" class="texto">
                            <img class="uk-border-rounded" style="height: auto; width: 100px;" src="/img/logo-acsa-2.png">
                        </a>
                    </div>

                    <div class="uk-navbar-right">
                        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-nav"></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- OFFCANVAS MENU MOBILE -->
    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-default uk-margin-medium-left">
                <li><a routerLink="/oque">O QUE É?</a></li>
                <li><a routerLink="/porque">PORQUÊ PARTICIPAR?</a></li>
                <li><a routerLink="/como">COMO PARTICIPAR?</a></li>
                <li><a routerLink="/beneficios">BENEFÍCIOS</a></li>
                <li><a routerLink="/sectores">SECTORES</a></li>
                <li><a routerLink="/contact">CONTACTO</a></li>
            </ul>
        </div>
    </div>
</div>
